.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  padding-top: 8%; /* Adjust based on your navbar height */
}

.register-card {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.register-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd; /* Optional: Add a border to separate image */
}

.register-content {
  padding: 20px;
  background-color: #f9f9f9;
  height: 500%; 
}

.register-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.register-content form div {
  margin-bottom: 15px;
}

.register-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: black;
}

.register-content input[type="text"],
.register-content input[type="email"],
.register-content input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

.register-content input[type="text"]:focus,
.register-content input[type="email"]:focus,
.register-content input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.register-content button.btn {
  width: 100%;
  padding: 10px;
  background-color: #ff8800;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-content button.btn:hover {
  background-color: #111111;
}

.register-content p {
  text-align: center;
  margin-top: 15px;
  color: #777;
}

.register-content p.swaaba {
  font-size: 14px;
  color: #050505;
  margin-top: 20px;
  font-weight: bold;
}
