.admin-dashboard {
  padding: 20px;
}

.admin-dashboard h2 {
  text-align: center;
}

.admin-dashboard form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.admin-dashboard input, .admin-dashboard textarea {
  margin-bottom: 10px;
  padding: 8px;
}

.admin-dashboard button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-dashboard ul {
  list-style-type: none;
  padding: 0;
}

.admin-dashboard li {
  margin: 5px 0;
}




/* .dashboard-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .dashboard-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .widget {
    width: 30%;
    padding: 20px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .widget h2 {
    margin-bottom: 15px;
  }
  
  .widget div {
    margin-bottom: 10px;
  }
   */