.dashboard-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .dashboard-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .widget {
    width: 30%;
    padding: 20px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .widget h2 {
    margin-bottom: 15px;
  }
  
  .widget div {
    margin-bottom: 10px;
  }
  